version: 2.1
orbs:
  cypress: cypress-io/cypress@1.26.0
  node: circleci/node@4.1.0

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/wtforex/node_modules
          override-ci-command: npm install
      - run: npm run test

workflows:
  unit:
    jobs:
      - test:
          filters:
            branches:
              only:
                - staging
                - /ci-.*/

  e2e:
    jobs:
      - cypress/install:
          filters:
            branches:
              only:
                - staging
                - /ci-.*/
      - cypress/run:
          filters:
            branches:
              only:
                - staging
                - /ci-.*/
          record: true
          requires:
            - cypress/install
          command-prefix: PERCY_TOKEN=${PERCY_KEY} npx percy exec --
